graphs/*
!graphs/shared/
DaymetClimateData/
modelPredictionTimeseries/
.Rproj.user
.Rhistory
.Rapp.history
*.RData
*.csv
*.txt
*.jpg
*.jpeg
*.tiff
*.tif
*.eps
*.png
*.doc
*.docx
*.ppt
*.pptx
*.pdf
nlme.RData
gamm.RData
bam.RData
*.Rhistory
.Rapp.history
dataIn/nlme.RData
gamm2.RData
localData/
presentations/
dataOut/
outP.RData
codaList-M3.RData
example_models/
Test/
cleaning.R
# Kyle.ignore
maps/
UMassWork/
rawDataWork/
Derived_Metric_Summary.html
localData*
Data_Raw/
