graphs/*
!graphs/shared/
DaymetClimateData/
modelPredictionTimeseries/
.Rproj.user
.Rhistory
.Rapp.history
.RData
*.jpg
*.jpeg
*.pdf
*.tiff
*.tif
*.eps
nlme.RData
gamm.RData
bam.RData
*.Rhistory
.Rapp.history
dataIn/nlme.RData
gamm2.RData
localData/
presentations/
dataOut/tempDataSyncS.RData
outP.RData
codaList-M3.RData

# Kyle.ignore
maps/
UMassWork/
rawDataWork/

