graphs/*
!graphs/shared/
DaymetClimateData/
modelPredictionTimeseries/
.Rproj.user
.Rhistory
.Rapp.history
.RData
*.jpg
*.jpeg
*.tiff
*.tif
*.eps
*.png
*.doc
*.docx
nlme.RData
gamm.RData
bam.RData
*.Rhistory
.Rapp.history
dataIn/nlme.RData
gamm2.RData
localData/
presentations/
dataOut/
outP.RData
codaList-M3.RData

# Kyle.ignore
maps/
UMassWork/
rawDataWork/

